# -*- mode: sh-mode -*-

OS=$(uname -s)

alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias git-cleanup="git fetch -p"

alias dk='docker'
alias dc='docker-compose'
alias k='kubectl'

if [ "$OS" = "Linux" ]; then
  alias pbcopy='xsel --clipboard --input'
  alias pbpaste='xsel --clipboard --output'
fi

if [ "$OS" = "Darwin" ]; then
  if [ -e "/usr/local/bin/ctags" ]; then
    alias ctags="/usr/local/bin/ctags"
  fi
fi

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
